<div class="section-wrapper">
    <div class="section-header">
        <div class="section-title">{{title}}</div>
        <div class="section-score">{{score}}</div>
    </div>
    <div class="section-guide"></div>
    <div class="section-content">
        <p>CURRENTRATIO <span>{{currentData.CURRENTRATIO}}</span></p>
        <div  class="chart-containerB">
            <canvas id="netWorthChart"></canvas>
        </div>
        <div  class="chart-container">
            <canvas id="assetLiabilitiesChart"></canvas>
        </div>
    </div>
</div>
