<div class="section-wrapper">
    <div class="section-header">
        <div class="section-title">{{title}}</div>
        <div class="section-score">{{score}}</div>
    </div>
    <div class="section-guide">
        <div class="panel panel-info">
            <div class="panel-heading">Guide</div>
            <div class="panel-body">
                Even the most beautiful home needs a solid foundation, after all. The bottom line about financial health is that when a company increases its debt, it increases its fixed costs as a percentage of total costs. In years when business is good, a company with high fixed costs can be extremely profitable because once those costs are covered, any additional sales the company makes fall straight to the bottom line. When business is bad, however, the fixed costs of debt push earnings even lower.
            </div>
        </div>
    </div>
    <div class="section-content">
        <!-- <p>CURRENTRATIO <span>{{currentData.CURRENTRATIO}}</span></p> -->
        <div  class="chart-containerB">
            <canvas id="netWorthChart"></canvas>
        </div>
        <div  class="chart-container">
            <canvas id="assetLiabilitiesChart"></canvas>
        </div>
    </div>
</div>
