<div class="section-wrapper">
    <div class="section-header">
        <div class="section-title">{{title}}</div>
        <div class="section-score">{{score}}</div>
    </div>
    <div class="section-guide">
        <div class="panel panel-info">
            <div class="panel-heading">Guide</div>
            <div class="panel-body">
                Finding great companies is only half of the investment process—the other half is assessing what the company is worth. You can’t just go out and pay whatever the market is asking for the stock because the market might be demanding too high a price. And if the price you pay is too high, your investment returns will likely be disappointing.
                Always be picky about valuation. You’ll do well over the long haul by buying companies that are undervalued relative to their earnings potential. Estimating its intrinsic value keeps you focused on the value of the business, rather than on the price of the stock.
                To calculate an intrinsic value, follow these five steps: Estimate cash flows for the next year, forecast a growth rate, estimate a discount rate, estimate a long-run growth rate, and add the discounted cash flows to the perpetuity value.
            </div>
        </div>
    </div>
    <div class="section-content">
        <div  class="chart-container">
            <canvas id="myChart"></canvas>
        </div>

    </div>
</div>
