<div class="section-wrapper">
    <div class="section-header">
        <div class="section-title">{{title}}</div>
        <div class="section-score">{{score}}</div>
    </div>
    <div class="section-guide"></div>
    <div class="section-content">
        <!-- <p>PAYOUTRATIO <span>{{currentData.PAYOUTRATIO}}</span></p> -->
        <p>DIVYIELD <span>{{currentData.DIVYIELD}}</span></p>
        <div  class="chart-container">
            <canvas id="payoutChart"></canvas>
        </div>
    </div>
</div>
