.performance-gauge-wrapper {
    /*margin-top: 20px;*/
    margin: 20px auto;
}

.chart-container-gauge {
    height: 300px;
    width: 300px;
    float: left;
}

.chart-container {
    min-height: 300px;
    min-width: 350px;
    width: 50%;
    /*overflow: visible;*/
    float: left;
}
