<div class="section-wrapper">
    <div class="section-header">
        <div class="section-title">{{title}}</div>
        <div class="section-score">{{score}}</div>
    </div>
    <div class="section-guide">
        <div class="panel panel-info">
            <div class="panel-heading">Guide</div>
            <div class="panel-body">
                In the long run, sales growth drives earnings growth. Buy into companies that have disciplined plans for achieving dramatic long-range growth in profits and that have inherent qualities making it difficult for newcomers to share in that growth. 
            </div>
    </div>
    <div class="section-content">
        <div class="performance-gauge-wrapper">
            <!-- <div  class="chart-container-gauge">
                <canvas id="roeChart"></canvas>
            </div> -->
            <!-- <div  class="chart-container-gauge">
                <canvas id="roaChart"></canvas>
            </div> -->
            <!-- <div  class="chart-container-gauge">
                <canvas id="roceChart"></canvas>
            </div> -->
            <div  class="chart-container-gauge">
                <canvas id="roicChart"></canvas>
            </div>
        </div>

        <div  class="chart-container">
            <canvas id="earningsChart"></canvas>
        </div>
    </div>
</div>
