<div class="section-wrapper">
    <div class="section-header">
        <div class="section-title">{{title}}</div>
        <div class="section-score">{{score}}</div>
    </div>
    <div class="section-guide">
        <div class="panel panel-info">
            <div class="panel-heading">Guide</div>
            <div class="panel-body">
                Excellent management can make the difference between a mediocre business and an outstanding one, and poor management can run even a great business into the ground. Your goal is to find management teams that think like shareholders—executives that treat the business as if they owned a piece of it, rather than as hired hands.
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="sub-section-title">Captital Alloction Towards Growth</div>
        <div class="allocation-chart-wrapper">
            <div  class="chart-container chart-container-A">
                <canvas id="growthAllocationTimeline"></canvas>
            </div>
            <div  class="chart-container chart-container-B">
                <canvas id="growthAllocationChart"></canvas>
            </div>
        </div>

        <div class="sub-section-title">Management Effectiveness</div>
    </div>
</div>
