<div class="section-wrapper">
    <div class="section-header">
        <div class="section-title">{{title}}</div>
        <div class="section-score">{{score}}</div>
    </div>
    <div class="section-guide"></div>
    <div class="section-content">
        <div class="sub-section-title">Captital Alloction Towards Growth</div>
        <div class="allocation-chart-wrapper">
            <div  class="chart-container chart-container-A">
                <canvas id="growthAllocationTimeline"></canvas>
            </div>
            <div  class="chart-container chart-container-B">
                <canvas id="growthAllocationChart"></canvas>
            </div>
        </div>

        <div class="sub-section-title">Management Effectiveness</div>
    </div>
</div>
