.sub-section-title {
    width: 100%;
}
.allocation-chart-wrapper {
    /*position: relative;*/
    /*margin: 0 auto;*/
    width: 100%;
    /*display: block;*/
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;
    align-items: center;*/
}
.chart-container-A {
    float: left;
    /*height: 650px;*/
    width: 600px;
    /*width: 60%;*/
}

.chart-container-B {
    float: left;
    width: 250px;
    height: 270px;
}


@media screen and (max-width: 600px){
    .allocation-chart-wrapper {
        width: 100%;
        display: block;
    }

    .chart-container-A {
        float: left;
        width: 350px;
    }

    .chart-container-B {
        float: left;
        width: 250px;
        height: 270px;
    }
}
