.motto {
    display: block;
    float: left;
}

.page-data {
    display: inline-block;
    width: 100%;
}

.page-data .ticker {
    float: right;
}


.intro-wrapper {
    /*position: absolute;*/
    min-height: 400px;
    margin: 0px 0px 30px;
    overflow: visible;
}

.content-wrapper {
    /*position: absolute;*/
}
