<div class="container-fluid">
    <div class="motto">
        Think. Learn. Play.
        <a (click)="toggleSidebar()" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
    </div>
    <div *ngIf="pageData" class="page-data">
        <div class="intro-wrapper">
            <app-intro-section [fundamentals]="fundamentals" ></app-intro-section>
        </div>
        <div class="content-wrapper">
            <app-health-section [fundamentals]="fundamentals" ></app-health-section>
            <app-value-section [fundamentals]="fundamentals" ></app-value-section>
            <app-performance-section [fundamentals]="fundamentals" ></app-performance-section>
            <app-dividend-section [fundamentals]="fundamentals" ></app-dividend-section>
            <app-management-section [fundamentals]="fundamentals" ></app-management-section>
        </div>
    </div>
</div>
